/* Membership Section*/

.cr-credit-card {
    width: 33%;
    position: relative;
}

.cr-membership-table {
    width: 66%;
    display: flex;
    flex-flow: wrap;
}

.cr-membership-item {
    width: 50%;
    padding: 0 50px 125px 0;
    display: flex;
    flex-flow: row wrap;
}

.cr-membership-icon {
    width: 15%;
    padding-right: 20px;
}

img.cr-membership-icon-img {
    height: 50px;
    margin-top: -5px;
}

.cr-membership-title {
    font-family: 'Poppins Bold';
    font-size: 28px;
    color: #F47828;
    padding-bottom: 20px;
    width: 85%;
}

.cr-membership-content {
    font-family: 'Poppins Regular';
    font-size: 21px;
    color: #484844;
}

.cr-credit-card-headline {
    font-size: 50px;
    font-family: 'termina';
    font-weight: bold;
    color: #A8A287;
}

.cr-credit-card-img {
    margin-top: -25px;
}

.cr-credit-card-img img {
    width: 75%;
}

section.cr-membership-section {
    position: relative;
    padding: 50px 0;
    background-color: #edefef;
}

.cr-wave-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 600px) {
    .cr-credit-card {
        width: 100%;
        min-height: 220px;
    }
    .cr-credit-card-headline {
        font-size: 28px;
        width: 70%;
    }
    .cr-credit-card-img {
        height: 200px;
        top: 39px;
        left: 99px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 270px;
    }
    .cr-membership-table {
        width: 100%;
    }
    .cr-membership-item {
        width: 100%;
        padding: 0 0px 50px 0;
    }
    .cr-membership-title {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .cr-membership-content {
        font-size: 16px;
    }
}


/* Large Phones and tablets */

@media only screen and (min-width: 601px) and (max-width: 768px) {}


/* tables, laptop smaller screens */

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .cr-header-title {
        font-size: 50px;
    }
}


/* Laptop */

@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .cr-header-title {
        font-size: 50px;
    }
}


/* Laptop */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cr-header-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1201px) and (min-width: 1201px) {
    .cr-header-title {
        font-size: 50px;
    }
}


/* ----------- Laptop Non-Retina Screens ----------- */

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cr-credit-card-headline {
        font-size: 37px;
    }
    img.cr-membership-icon-img {
        height: 40px;
    }
    .cr-membership-title {
        font-size: 20px;
    }
    .cr-membership-content {
        font-size: 18px;
    }
}