section.cr-roadmap-section {
    margin-top: -190px;
}

.cr-roadmap-container {
    padding-top: 200px;
    background: linear-gradient(to bottom, #EAEAEA, #F7F6F5 50%, #F7F6F5);
}

.cr-roadmap-content {
    display: flex;
    margin-left: 10%;
}

.cr-roadmap-box {
    width: 100%;
    border-left: 4px dotted rgba(244, 120, 40, 0.3);
    font-family: 'termina';
    padding-top: 60px;
}

.cr-roadmap-box-wrapper {
    margin-left: 10%;
    margin-right: 5%;
}

.cr-roadmap-box-date {
    font-weight: bold;
    font-size: 2em;
    /* font-size: 34px; */
    color: #A8A287;
    opacity: 0.4;
}

.cr-roadmap-box-title {
    font-weight: bold;
    font-size: 2.5em;
    /* font-size: 38px; */
    color: #04211B;
    padding: 1em 0;
}

.cr-roadmap-box-description {
    /* font-size: 24px; */
    font-size: 1.4em;
    color: #041A14;
    padding: 1em 0;
    margin-right: 20%;
}

.cr-roadmap-box-image {
    margin-right: 20%;
}

.cr-roadmap-box-image img {
    width: 100%;
}

.cr-roadmap-header {
    width: 80%;
    margin: 0 auto;
}

.cr-roadmap-big-title {
    color: var(--unnamed-color-f47828);
    text-align: left;
    font: normal normal bold 122px/60px Termina;
    letter-spacing: 0px;
    color: #ffffff;
}

.cr-roadmap-small-title {
    text-align: left;
    font: normal normal bold 49px/77px Termina;
    letter-spacing: -0.49px;
    color: #F47828;
    margin-top: -35px;
}

.cr-roadmap-description {
    text-align: left;
    font: normal normal normal 24px/40px Poppins;
    letter-spacing: 0px;
    color: #041A14;
}

.cr-roadmap-activations {
    background-color: #F7F6F5;
}

.cr-roadmap-activations-container {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}

.cr-roadmap-activations-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 60px 1%;
}

.cr-roadmap-activation-box-sm,
.cr-roadmap-activation-box-md {
    width: 24%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: rgb(0 0 0 / 15%) 0 5px 15px 0px;
    border-radius: 15px;
    height: 219px;
    position: relative;
}

.cr-roadmap-activation-box-md {
    width: 49%;
}

.cr-roadmap-activation-box-sm {
    width: 24%;
}

.cr-roadmap-activations-percentage {
    width: 190px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 50%;
    text-align: center;
    margin-top: -32px;
    float: right;
    margin-right: 15px;
    letter-spacing: 0px;
    color: #04211B;
    padding: 10px;
    font: normal normal bold 33px/40px Termina;
}

.cr-roadmap-activations-description {
    text-align: left;
    font: normal normal normal 21px/28px Poppins;
    letter-spacing: -0.21px;
    color: #484844;
    position: absolute;
    left: 30px;
    right: 30px;
    top: 80px;
}

.cr-roadmap-white-text {
    color: #FFFFFF !important;
}

.cr-roadmap-orange-bg {
    background: #F47828 0% 0% no-repeat padding-box;
}

.cr-roadmap-orange-bg .cr-roadmap-activations-scale {
    background: rgba(239, 239, 239, 0.4);
}

.cr-roadmap-activations-scale {
    background: #f3f3ed;
    border-radius: 12px;
    height: 13px;
    top: 40px;
    left: 30px;
    right: 30px;
    position: absolute;
    padding: 3px;
}

#roadmapEvents .splide__arrows.splide__arrows--ltr {
    display: none;
}

#roadmapEvents li.splide__slide {
    width: 30%;
    height: 100% !important;
}

#roadmapEvents-track {
    width: 100%;
    margin-left: -5%;
}

#roadmapEvents ul.splide__pagination {
    display: none;
}

.cr-roadmap-activations-mobile {
    display: none;
}

#roadmapActivations .splide__arrows.splide__arrows--ltr {
    display: none;
}

.cr-roadmap-activations-title {
    font: normal normal bold 28px/60px Termina;
    letter-spacing: -0.28px;
    color: #04211B;
}

.cr-roadmap-activations-subtitle {
    font: normal normal normal 24px/38px Poppins;
    letter-spacing: -0.24px;
    color: #484844;
    width: 70%;
    margin-bottom: 70px;
}

.cr-roadmap-header {
    width: 80%;
    position: absolute;
    left: 10%;
}

@media screen and (max-width: 600px) {
    .cr-roadmap-content {
        display: block;
        margin-left: 0;
    }
    div#roadmapEvents-track {
        width: 100%;
        margin-left: 0;
    }
    #roadmapEvents li.splide__slide {
        height: 100vh !important;
        width: 100%;
    }
    #roadmapEvents .splide__pagination {
        bottom: 10em !important;
    }
    #roadmapEvents .splide__pagination__page {
        border: 1px solid #ccc;
        height: 16px;
        width: 15px;
    }
    #roadmapEvents ul.splide__pagination {
        display: flex;
    }
    /* Roadmap Activations */
    .cr-roadmap-activations-container {
        display: none;
    }
    .cr-roadmap-activations-mobile {
        display: flex;
    }
    .cr-roadmap-activation-box-sm {
        width: 100%;
    }
    #roadmapActivations ul.splide__list li {
        width: 99%;
        padding: 5px;
    }
    #roadmapActivations ul.splide__list {
        height: 300px;
        margin-top: 10px !important;
    }
}