.cr-club-comparison-section {
    height: 2200px;
    position: relative;
    margin-top: 150px;
    background-color: #edefef;
}

.cr-club-comparison-section-wave {
    position: absolute;
    width: 100%;
    top: -148px;
    height: 150px;
    z-index: -1;
}

.cr-club-comparison-details-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-image: url(../img/club-comparison-background.png);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: #edefef; */
}

.cr-club-comparison-content {
    display: flex;
    width: 90%;
    height: 700px;
}

.cr-club-comparison-details {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.cr-club-comparison-title {
    font: normal normal bold 40px/48px Termina;
    letter-spacing: -0.4px;
    color: #F47828;
    margin-right: -45px;
}

.cr-club-comparison-description {
    text-align: left;
    font-family: Poppins;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #484844;
}

.cr-club-comparison-image {
    height: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: -13%;
}

.cr-resorts-container {
    width: 100%;
    margin-bottom: 200px;
    margin-top: -1180px;
}

.cr-resorts-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.cr-resorts-title {
    font: normal normal bold 49px/57px Termina;
    letter-spacing: -0.49px;
    color: #F47828;
}

.cr-resorts-description {
    display: flex;
    font: normal normal normal 21px/38px Poppins;
    letter-spacing: -0.24px;
    color: #041A14;
    gap: 100px;
    margin-top: 30px;
}

.cr-resorts-description div {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.cr-resorts-description ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cr-resorts-description ul li {
    min-width: 20%;
    margin-right: 5%;
    display: list-item;
}

.cr-resorts-description ul li::before {
    content: "\2022";
    color: #F47828;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.cr-resorts-description ul li:nth-child(3n+1) {
    min-width: 43%;
}

.cr-club-comparison-image-mobile {
    display: none;
}

img.cr-club-comparison-image-mobile {
    width: 100%;
}

@media screen and (max-width: 768px) {
    section.cr-club-comparison-section {
        height: auto;
        margin-top: 0;
    }
    .cr-club-comparison-details-container {
        display: block;
        width: 100%;
        margin-top: 150px !important;
        padding: 0;
        height: 1600px;
        background-size: 600px;
        background-position: 35% 100%;
    }
    .cr-club-comparison-title {
        font: normal normal bold 28px/36px Termina;
        letter-spacing: -0.28px;
        margin: 0;
        padding: 30px 0;
    }
    .cr-club-comparison-image {
        display: none;
    }
    .cr-club-comparison-image-mobile {
        display: block;
    }
    .cr-club-comparison-content {
        width: 85%;
        margin: auto;
        display: block;
        height: 100%;
    }
    .cr-club-comparison-details {
        display: block;
    }
    .cr-club-comparison-description {
        font: normal normal normal 16px/26px Poppins;
        letter-spacing: 0px;
    }
    .cr-resorts-container {
        margin-top: -340px;
        background-color: #EBEBEB;
        background-image: url(../img/club-comparison-background.png);
        background-repeat: no-repeat;
        height: 1070px;
        background-size: 600px;
        background-position: 35% 100%;
    }
    .cr-resorts-title {
        font: normal normal bold 28px/36px Termina;
        letter-spacing: -0.28px;
    }
    .cr-resorts-description {
        font-size: 14px;
        flex-direction: column;
        font: normal normal normal 16px/26px Poppins;
        letter-spacing: 0px;
        gap: 40px;
    }
    .cr-resorts-description ul {
        padding-left: 1rem;
    }
    .cr-resorts-description ul li {
        min-width: 48%;
        margin-right: 0;
        display: list-item;
    }
    /* .cr-resorts-description ul li::before {
        content: "\2022";
        color: #F47828;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    } */
    .cr-resorts-description ul li:nth-child(3n+1) {
        min-width: 48%;
    }
}


/* Large Phones and tablets */

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .cr-club-comparison-image-mobile {
        display: block;
        width: unset !important;
        height: 400px;
        margin: auto;
    }
}


/* tables, laptop smaller screens */

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .cr-club-comparison-details {
        gap: 30px;
    }
    .cr-club-comparison-title {
        font-size: 25px;
        line-height: 34px;
    }
    .cr-club-comparison-description,
    .cr-resorts-description {
        font-size: 14px;
        line-height: 24px;
    }
    .cr-club-comparison-section {
        height: 1500px;
    }
    .cr-club-comparison-image {
        height: 400px;
        padding: 30px;
    }
    .cr-resorts-title {
        font-size: 40px;
        line-height: 50px;
    }
    .cr-resorts-description ul li {
        min-width: 50% !important;
        margin-right: 0;
    }
    .cr-resorts-container {
        margin-top: -730px;
    }

    .cr-club-comparison-details-container {
        background-position: 100% 65%;
    }

    .cr-resorts-description {
        gap: 40px;
    }
}


/* Laptop and some tablets */

@media only screen and (min-width: 901px) and (max-width: 1024px) {
    .cr-club-comparison-details {
        gap: 30px;
    }
    .cr-club-comparison-title {
        font-size: 28px;
        line-height: 38px;
    }
    .cr-club-comparison-description,
    .cr-resorts-description {
        font-size: 15px;
        line-height: 24px;
    }
    .cr-club-comparison-section {
        height: 1750px;
    }
    .cr-club-comparison-image {
        height: 550px;
    }
    .cr-resorts-title {
        font-size: 40px;
        line-height: 50px;
    }
    .cr-resorts-description ul li {
        min-width: 50% !important;
        margin-right: 0;
    }
    .cr-resorts-container {
        margin-top: -850px;
    }

    .cr-club-comparison-details-container {
        background-position: 100% 65%;
    }

    .cr-club-comparison-section-wave {
        top: -98px;
    }

    .cr-resorts-description {
        gap: 40px;
    }
}


/* Laptop bigger */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cr-club-comparison-title {
        font-size: 28px;
        line-height: 38px;
    }
    .cr-club-comparison-description,
    .cr-resorts-description {
        font-size: 15px;
        line-height: 24px;
    }
    .cr-club-comparison-section {
        height: 1850px;
    }
    .cr-club-comparison-image {
        height: 550px;
    }
    .cr-resorts-title {
        font-size: 40px;
        line-height: 50px;
    }
    .cr-resorts-description ul li {
        min-width: 50% !important;
        margin-right: 0;
    }
    .cr-resorts-container {
        margin-top: -950px;
    }

    .cr-club-comparison-details-container {
        background-position: 100% 65%;
    }

    .cr-club-comparison-section-wave {
        top: -98px;
    }
}


/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) {
    .cr-club-comparison-title {
        font-size: 30px;
        line-height: 40px;
    }
    .cr-club-comparison-description,
    .cr-resorts-description {
        font-size: 17px;
        line-height: 26px;
    }
    .cr-club-comparison-section {
        height: 1850px;
    }
    .cr-club-comparison-image {
        height: 550px;
    }
    .cr-resorts-title {
        font-size: 40px;
        line-height: 50px;
    }
    .cr-resorts-description ul li {
        min-width: 50% !important;
        margin-right: 0;
    }
    .cr-resorts-container {
        margin-top: -950px;
    }

    .cr-club-comparison-details-container {
        background-position: 100% 65%;
    }
}