.cr-collection-section {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.cr-collection-title {
    font: normal normal bold 50px/77px Termina;
    letter-spacing: -0.5px;
    color: #F47828;
}

.cr-collection-description {
    width: 80%;
    font: normal normal normal 24px/40px Poppins;
    letter-spacing: 0px;
    color: #484844;
}

.cr-collection-cards {
    margin-top: 50px;
    display: flex;
    gap: 15px;
}

.cr-collection-card {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-width: 321px;
    max-width: 321px;
    height: 510px;
    border-radius: 15px;
    backdrop-filter: blur(15px);
    padding: 15px;
    font-family: Termina;
    color: #ffffff;
    font-weight: bold;
}

.cr-collection-card--membership-available .cr-collection-card-counter {
    display: none;
}

.cr-collection-card--membership-available .cr-collection-card-btn-submit {
    display: unset;
}

.cr-collection-card-image {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px;
}

.cr-collection-card-title {
    font: normal normal bold 25px/26px Termina;
    letter-spacing: 0px;
    color: #04211B;
}

.cr-collection-card-counter-value,
.cr-collection-card-counter-separator {
    font-size: 28px;
    color: #04211B;
    width: 50px;
}

.cr-collection-card-counter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cr-collection-card-counter-hint {
    font-size: 11px;
    font-weight: normal;
    color: #04211B;
    ;
}

.cr-collection-card-counter-parts {
    display: flex;
    justify-content: space-between;
}

.cr-collection-card-counter-part {
    display: flex;
    flex-direction: column;
}

.cr-collection-card-counter-label {
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.6;
    color: #04211B;
    ;
}

.cr-collection-card-counter-separator {
    margin: 0 10px;
}

.cr-collection-card-btn-submit {
    display: none;
    width: 100%;
    height: 62px;
    border: 0;
    outline: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 33px;
    background: transparent linear-gradient(111deg, #f47828 50%, #a8a287 100%) 0% 0% no-repeat padding-box;
    font: normal normal bold 16px/25px Poppins;
    letter-spacing: 0px;
    color: #fafafe;
}

#ntf-collection .splide__arrows.splide__arrows--ltr,
#ntf-collection-mobile .splide__arrows.splide__arrows--ltr {
    display: none;
}

#ntf-collection ul.splide__pagination.splide__pagination--ltr {
    display: none;
}

#ntf-collection .splide__slide {
    -webkit-tap-highlight-color: transparent;
    width: auto !important;
    height: auto !important;
}

#ntf-collection .cr-collection-cards-slider-wrapper {
    padding: 25px;
    margin-right: -150px !important;
    width: auto;
}

#ntf-collection-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    #ntf-collection {
        display: none;
    }
    #ntf-collection-mobile {
        display: flex;
    }
    #ntf-collection-mobile ul.splide__pagination.splide__pagination--ltr {
        display: flex;
    }
    .cr-collection-section {
        width: 85%;
        margin-top: 100px;
    }
    .cr-collection-title {
        font: normal normal bold 28px/34px Termina;
        letter-spacing: -0.28px;
    }
    .cr-collection-description {
        width: 100%;
        font: normal normal normal 16px/26px Poppins;
        letter-spacing: -0.16px;
        margin-top: 10px;
    }
    .cr-collection-cards {
        margin-top: 30px;
        overflow-x: initial !important;
    }
    #ntf-collection-mobile .cr-collection-card {
        min-width: 315px;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #ntf-collection-mobile .cr-collection-cards-slider-wrapper {
        margin-right: 0 !important;
    }
    #ntf-collection-mobile .splide__pagination__page {
        height: 16px;
        width: 16px;
    }
    #ntf-collection-mobile .splide__pagination__page.is-active {
        background: #F47828;
    }
}


/* Large Phones and tablets */

@media only screen and (min-width: 601px) and (max-width: 768px) {
    #ntf-collection {
        display: none;
    }
    #ntf-collection-mobile {
        display: flex;
    }
    #ntf-collection-mobile ul.splide__pagination.splide__pagination--ltr {
        display: flex;
    }
    .cr-collection-section {
        width: 85%;
        margin-top: 100px;
    }
    .cr-collection-title {
        font: normal normal bold 35px/36px Termina;
        letter-spacing: -0.28px;
    }
    .cr-collection-description {
        width: 100%;
        font: normal normal normal 20px/35px Poppins;
        letter-spacing: -0.16px;
        margin-top: 10px;
    }
    .cr-collection-cards {
        margin-top: 30px;
        overflow-x: initial !important;
    }
    #ntf-collection-mobile .cr-collection-card {
        min-width: 315px;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #ntf-collection-mobile .cr-collection-cards-slider-wrapper {
        margin-right: 0 !important;
    }
    #ntf-collection-mobile .splide__pagination__page {
        height: 16px;
        width: 16px;
    }
    #ntf-collection-mobile .splide__pagination__page.is-active {
        background: #F47828;
    }
}


/* tables, laptop smaller screens */

@media only screen and (min-width: 769px) and (max-width: 900px) {}


/* Laptop */

@media only screen and (min-width: 901px) and (max-width: 1024px) {}


/* Laptop bigger */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}


/* ----------- Laptop Non-Retina Screens ----------- */

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cr-events-title {
        font-size: 50px;
    }
    .cr-events-subtitle {
        font-size: 50px;
    }
    /* .cr-events-circle {
        background-size: cover;
        width: 80px;
        height: 80px;
        left: 180px;
    } */
    .cr-events-note {
        font-size: 20px;
    }
    .cr-events-bottom-img {
        position: absolute;
        width: 80%;
        right: 0;
    }
    .cr-events-auction {
        font-size: 21px;
    }
}