.cr-instagram-section {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.cr-instagram-promo-block {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 100px;
}

.cr-instagram-details {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.cr-instagram-title {
    font: normal normal bold 49px/57px Termina;
    letter-spacing: -0.49px;
    color: #04211B;
}

.cr-instagram-title span {
    display: block;
}

.cr-instagram-title span:first-of-type {
    color: #F47828;
}

.cr-instagram-description {
    font: normal normal normal 24px/38px Poppins;
    letter-spacing: -0.24px;
    color: #041A14;
}

.cr-instagram-owner-signature {
    position: absolute;
    bottom: 60px;
    right: 15px;
}

.cr-instagram-subtitle {
    font: normal normal bold 28px/60px Termina;
    letter-spacing: -0.28px;
    color: #042822;
    text-align: center;
    margin: 15px 0;
}

.cr-instagram-images {
    display: flex;
    gap: 10px;
    margin-left: -100px;
}

.cr-instagram-image {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 35px;
}

#crInstagramSlider ul.cr-instagram-images {
    height: 400px;
}

#crInstagramSlider .splide__arrows.splide__arrows--ltr {
    display: none;
}

#crInstagramSlider ul.splide__pagination.splide__pagination--ltr {
    display: none;
}

@media screen and (max-width: 600px) {
    .cr-instagram-promo-block {
        width: 85%;
        flex-direction: column;
        gap: 40px;
    }
    .cr-instagram-details {
        gap: 20px;
    }
    .cr-instagram-title {
        font-size: 28px;
        line-height: 34px;
    }
    .cr-instagram-description {
        font-size: 16px;
        line-height: 26px;
    }
    .cr-instagram-owner-signature {
        right: 0;
        left: 50%;
        transform: translate(-50%, 0);
        bottom: -100px;
    }
    .cr-instagram-subtitle {
        font-size: 22px;
        margin-top: 120px;
    }
    .cr-instagram-images {
        margin-left: -175px;
    }
    .cr-instagram-image {
        width: 275px;
        height: 275px;
    }
}


/* Large Phones and tablets */

@media only screen and (min-width: 601px) and (max-width: 768px) {}


/* tables, laptop smaller screens */

@media only screen and (min-width: 769px) and (max-width: 900px) {}


/* Laptop */

@media only screen and (min-width: 901px) and (max-width: 1024px) {}


/* Laptop */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {}


/* ----------- Laptop Non-Retina Screens ----------- */

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    img.cr-instagram-promo-image {
        width: 500px;
    }
    .cr-instagram-title {
        font-size: 38px;
    }
    .cr-instagram-description {
        font-size: 21px;
    }
    .cr-instagram-owner-signature {
        bottom: -30px;
    }
}