.cr-club-comparison-section {
    height: 2200px;
    position: relative;
    margin-top: 150px;
    background-color: #edefef;
}

.cr-club-comparison-section-wave {
    position: absolute;
    width: 100%;
    top: -148px;
    height: 150px;
    z-index: -1;
}

.cr-club-comparison-details-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background-image: url(../img/club-comparison-background.png);
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: #edefef; */
}

.cr-club-comparison-content {
    display: flex;
    width: 90%;
    height: 700px;
}

.cr-club-comparison-details {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.cr-club-comparison-title {
    font: normal normal bold 40px/48px Termina;
    letter-spacing: -0.4px;
    color: #F47828;
    margin-right: -12%;
}

.cr-club-comparison-description {
    text-align: left;
    font-family: Poppins;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    color: #484844;
}

.cr-club-comparison-image {
    height: auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: -13%;
}

.cr-resorts-container {
    width: 100%;
    margin-bottom: 200px;
    margin-top: -1180px;
}

.cr-resorts-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.cr-resorts-title {
    font: normal normal bold 49px/57px Termina;
    letter-spacing: -0.49px;
    color: #F47828;
}

.cr-resorts-description {
    display: flex;
    font: normal normal normal 24px/38px Poppins;
    letter-spacing: -0.24px;
    color: #041A14;
    gap: 100px;
    margin-top: 30px;
}

.cr-resorts-description div {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.cr-resorts-description ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.cr-resorts-description ul li {
    min-width: 20%;
    margin-right: 5%;
    display: list-item;
}

.cr-resorts-description ul li::before {
    content: "\2022";
    color: #F47828;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.cr-resorts-description ul li:nth-child(3n+1) {
    min-width: 40%;
}

.cr-club-comparison-image-mobile {
    display: none;
}

img.cr-club-comparison-image-mobile {
    width: 100%;
}

@media screen and (max-width: 600px) {
    section.cr-club-comparison-section {
        height: auto;
    }
    .cr-club-comparison-details-container {
        display: block;
        width: 86%;
        margin: 0 auto;
        padding: 150px 0;
    }
    .cr-club-comparison-title {
        font-size: 28px;
        margin: 0;
        padding: 20px 0;
    }
    .cr-club-comparison-image {
        display: none;
    }
    .cr-club-comparison-image-mobile {
        display: block;
    }
    .cr-club-comparison-content {
        width: 100%;
        display: block;
        height: 100vh;
    }
    .cr-resorts-container {
        margin: 0;
    }
    .cr-club-comparison-details {
        display: block;
    }
    .cr-resorts-description {
        font-size: 14px;
    }
    .cr-club-comparison-description {
        font-size: 16px;
    }
}