.cr-membership-types-section {
    display: block;
}

.cr-mt-promo-block {
    display: flex;
    height: 950px;
    background: linear-gradient( 119deg, #04211b -5%, #051f1a76 53%, #051e1a00 100%), url(../img/membership-types-promo.png);
    background-size: cover;
}

.cr-mt-promo-details {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 200px auto 0;
}

.cr-mt-promo-title {
    display: flex;
    font: normal normal bold 60px/72px Termina;
    letter-spacing: -1.5px;
    color: #ffffff;
    width: 100%;
}

.cr-mt-promo-description {
    display: flex;
    font: normal normal normal 24px/40px Poppins;
    letter-spacing: 0px;
    color: #fcfcfc;
    margin-top: 40px;
    width: 65%;
}

.cr-mt-overview-wrapper {
    display: block;
    background-color: #FFFFFF;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -320px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -5px 15px 0px;
}

.cr-mt-overview-table {
    display: block;
    padding-top: 50px;
}

.cr-mt-overview-table tr {
    display: flex;
}

.cr-mt-overview-table thead {
    color: #A8A287;
}

.cr-mt-overview-table-header-type {
    font: normal normal bold 24px/29px Termina;
    letter-spacing: -0.24px;
}

.cr-mt-overview-table-header-date {
    font: normal normal 600 18px/24px Poppins;
    letter-spacing: 0px;
    font-weight: normal;
}

.cr-mt-overview-table th,
.cr-mt-overview-table td {
    display: flex;
    flex: 1 1 0;
    padding: 0 25px;
    min-height: 55px;
    font-weight: bold;
    border-right: 1px dashed #A8A287;
}

.cr-mt-overview-table tr th:first-of-type,
.cr-mt-overview-table tr td:first-of-type {
    padding-left: 50px;
    font-family: Poppins;
    font-weight: normal;
}

.cr-mt-overview-table tr th:last-of-type,
.cr-mt-overview-table tr td:last-of-type {
    padding-right: 50px;
    border-right: none;
}

.cr-mt-overview-table tbody td {
    font: normal normal normal 18px/24px;
    align-items: center;
}

.cr-mt-overview-table tbody tr:nth-child(2n+1) {
    background-color: #F7F6F5;
}

.cr-mt-tiles-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.cr-mt-tiles {
    display: flex;
    gap: 10px;
    margin: auto;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.cr-mt-tile {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 295px;
    gap: 10px;
    background-color: #F7F6F5;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0px;
}

.cr-mt-tile-title {
    background-color: #FFFFFF;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cr-mt-tile-title span {
    display: block;
    font: normal normal bold 16px/25px Termina;
    letter-spacing: -0.34px;
    color: #A8A287;
}

.cr-mt-tile-title span:first-of-type {
    font: normal normal bold 21px/29px Termina;
    letter-spacing: -0.24px;
    color: #F47828;
}

.cr-mt-tile-price,
.cr-mt-tile-description {
    padding: 0 25px;
    font: normal normal normal 15px/21px Poppins;
    letter-spacing: 0px;
    color: #484844;
}

.cr-mt-notes {
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #484844;
    margin-left: 40px;
}

.cr-mt-cards {
    display: none;
}

img.green-checkmark {
    height: 14px;
}

.cr-mt-tiles-cards-mobile {
    display: none;
}

#membershipTypesMobile .splide__arrows.splide__arrows--ltr {
    display: none;
}

.cr-mt-cards {
    display: none;
    width: 85%;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
}
.cr-mt-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0px;
    padding: 25px;
    padding-bottom: 0;
}
.cr-mt-card-title {
    font: normal normal bold 24px/29px Termina;
    letter-spacing: -0.24px;
    color: #A8A287;
}
.cr-mt-card-date {
    font: normal normal 600 18px/24px Poppins;
    letter-spacing: 0px;
    color: #A8A287;
}
.cr-mt-card-price {
    font: normal normal bold 16px/25px Termina;
    letter-spacing: -0.32px;
    color: #A8A287;
    margin: 30px 0 20px;
}
.cr-mt-card-highlights.accordion {
    margin: 0 -25px;
}
.cr-mt-card-highlights .accordion-item {
    border: none;
}
.cr-mt-card-highlights .accordion-collapse {
    background-color: #FAFAFA;
}
.cr-mt-card-highlights-label {
    font: normal normal 600 18px/24px Poppins;
    letter-spacing: 0px;
    color: #04211B;
    font-weight: bold;
}
.cr-mt-card-highlights-label .accordion-button {
    font-size: 18px;
    padding: 25px;
    background-color: #FAFAFA;
}
.cr-mt-card-highlights-label .accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #FAFAFA;
    box-shadow: none;
}
.cr-mt-card-highlights-label .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.cr-mt-card-highlights-table {
    display: block;
    padding-top: 10px;
    margin: 0;
}
.cr-mt-card-highlights-table tbody {
    display: flex;
    flex-direction: column;
}
.cr-mt-card-highlights-table tr {
    display: flex;
}
.cr-mt-card-highlights-table td {
    display: flex;
    padding: 0 25px;
    min-height: 55px;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    border-right: 1px dashed #A8A287;
}
.cr-mt-card-highlights-table tr td:first-of-type {
    width: 55%;
    font: normal normal normal 12px/19px Poppins;
}
.cr-mt-card-highlights-table tr td:last-of-type {
    letter-spacing: 0px;
    border-right: none;
    font-weight: bold;
}
.cr-mt-card-highlights-table tbody td {
    font: normal normal normal 18px/24px;
    align-items: center;
}
.cr-mt-card-highlights-table tbody tr:nth-child(2n+1) {
    background-color: #F7F6F5;
}

@media screen and (max-width: 600px) {
    .cr-mt-promo-block {
        height: 628px;
        background-position: center;
    }
    .cr-mt-promo-details {
        margin-top: 180px;
    }
    .cr-mt-promo-title {
        width: 80%;
        font: normal normal bold 28px/34px Termina;
        letter-spacing: -0.28px;
    }
    .cr-mt-promo-description {
        width: 100%;
        font: normal normal normal 16px/26px Poppins;
        letter-spacing: -0.16px;
        margin-top: 20px;
    }
    .cr-mt-overview-wrapper {
        display: none;
    }
    .cr-mt-tiles-wrapper {
        width: 85%;
        flex-direction: column-reverse;
        margin-bottom: 55px;
    }
    .cr-mt-tiles {
        gap: 20px;
    }
    .cr-mt-tile {
        min-width: 256px;
    }
    .cr-mt-tile-title {
        border-radius: 15px 15px 0 0;
        background-color: #FFFFFF;
        padding: 15px 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .cr-mt-tile-title span {
        display: block;
        font: normal normal bold 16px/25px Termina;
        letter-spacing: -0.34px;
        color: #A8A287;
    }
    .cr-mt-tile-title span:first-of-type {
        font: normal normal bold 24px/29px Termina;
        letter-spacing: -0.24px;
        color: #F47828;
    }
    .cr-mt-tile-price,
    .cr-mt-tile-description {
        padding: 0 25px;
        font: normal normal normal 18px/24px Poppins;
        letter-spacing: 0px;
        color: #484844;
    }
    .cr-mt-notes {
        margin-left: 0;
    }
    .cr-mt-cards {
        display: flex;
    }
    .cr-mt-tiles-cards {
        display: none;
    }
    .cr-mt-tiles-cards-mobile {
        display: flex;
    }
    #membershipTypesMobile .splide__track li {
        width: calc(10%) !important;
        padding: 10px;
    }
    #membershipTypesMobile .splide__track {
        margin-left: 0;
    }
    #membershipTypesMobile .splide__pagination {
        bottom: -2em;
    }
    #membershipTypesMobile .splide__pagination__page {
        height: 16px;
        width: 16px;
    }
    #membershipTypesMobile .splide__pagination__page.is-active {
        background: #F47828;
    }
}


/* Large Phones and tablets */

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .cr-mt-overview-wrapper {
        display: none;
    }

    .cr-mt-cards {
        display: flex;
        width: 80%;
    }

    .cr-mt-promo-title {
        font-size: 45px;
        line-height: 55px;
    }
    .cr-mt-promo-description {
        font-size: 14px;
        line-height: 26px;
        width: 80%;
    }

    .cr-mt-promo-block {
        height: 650px;
    }
}


/* tables, laptop smaller screens */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .cr-mt-promo-title {
        font-size: 50px;
        line-height: 60px;
    }
    .cr-mt-promo-description {
        font-size: 16px;
        line-height: 30px;
    }

    .cr-mt-overview-wrapper {
        display: none;
    }

    .cr-mt-cards {
        display: flex;
        width: 80%;
    }

    tr.cr-mt-overview-table-header-type {
        font-size: 13px;
        line-height: 17px;
    }
    tr.cr-mt-overview-table-header-date,
    tr.cr-mt-overview-table-header-price {
        font-size: 12px;
        line-height: 15px;
    }

    .cr-mt-overview-table td {
        font-size: 10px;
    }

    .cr-mt-promo-block {
        height: 650px;
    }
}


/* Laptop */

@media only screen and (min-width: 901px) and (max-width: 1024px) {}


/* Laptop */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .cr-mt-overview-table th,
    .cr-mt-overview-table td {
        min-height: 50px;
    }
    .cr-mt-promo-title {
        font-size: 50px;
        line-height: 60px;
    }
    .cr-mt-promo-description {
        font-size: 16px;
        line-height: 30px;
    }

    tr.cr-mt-overview-table-header-type {
        font-size: 13px;
        line-height: 17px;
    }
    tr.cr-mt-overview-table-header-date,
    tr.cr-mt-overview-table-header-price {
        font-size: 12px;
        line-height: 15px;
    }

    .cr-mt-overview-table td {
        font-size: 10px;
    }
}


/* ----------- Laptop Non-Retina Screens ----------- */

@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cr-mt-promo-title {
        font-size: 55px;
        line-height: 66px;
    }
    .cr-mt-promo-description {
        font-size: 20px;
        line-height: 34px;
    }

    tr.cr-mt-overview-table-header-type {
        font-size: 16px;
        line-height: 20px;
    }
    tr.cr-mt-overview-table-header-date,
    tr.cr-mt-overview-table-header-price {
        font-size: 15px;
        line-height: 20px;
    }

    .cr-mt-overview-table td {
        font-size: 13px;
    }

    /* .cr-mt-tile {
        height: 260px;
    }

    .cr-mt-tile-title {
        padding: 10px;
    }
    
    .cr-mt-tile-title span {
        font: normal normal bold 14px/23px Termina;
    }
    
    .cr-mt-tile-title span:first-of-type {
        font: normal normal bold 17px/26px Termina;
    }
    
    .cr-mt-tile-price,
    .cr-mt-tile-description {
        padding: 0 10px;
        font: normal normal normal 13px/18px Poppins;
    } */
}