.cr-membership-types-section {
    display: block;
}

.cr-mt-promo-block {
    display: flex;
    height: 950px;
    background: linear-gradient( 119deg, #04211b -5%, #051f1a76 53%, #051e1a00 100%), url(../img/membership-types-promo.png);
    background-size: cover;
}

.cr-mt-promo-details {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin: 200px auto 0;
}

.cr-mt-promo-title {
    display: flex;
    font: normal normal bold 60px/72px Termina;
    letter-spacing: -1.5px;
    color: #ffffff;
    width: 50%;
}

.cr-mt-promo-description {
    display: flex;
    font: normal normal normal 24px/40px Poppins;
    letter-spacing: 0px;
    color: #fcfcfc;
    margin-top: 40px;
    width: 65%;
}

.cr-mt-overview-wrapper {
    display: block;
    background-color: #FFFFFF;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -320px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -5px 15px 0px;
}

.cr-mt-overview-table {
    display: block;
    padding-top: 50px;
}

.cr-mt-overview-table tr {
    display: flex;
}

.cr-mt-overview-table thead {
    color: #A8A287;
}


.cr-mt-overview-table-header-type {
    font: normal normal bold 24px/29px Termina;
    letter-spacing: -0.24px;
}

.cr-mt-overview-table-header-date {
    font: normal normal 600 18px/24px Poppins;
    letter-spacing: 0px;
    font-weight: normal;
}

.cr-mt-overview-table th,
.cr-mt-overview-table td {
    display: flex;
    flex: 1 1 0;
    padding: 0 25px;
    min-height: 55px;
    font-weight: bold;
    border-right: 1px dashed #A8A287;
}

.cr-mt-overview-table tr th:first-of-type,
.cr-mt-overview-table tr td:first-of-type {
    padding-left: 50px;
    font-family: Poppins;
    font-weight: normal;
}

.cr-mt-overview-table tr th:last-of-type,
.cr-mt-overview-table tr td:last-of-type {
    padding-right: 50px;
    border-right: none;
}

.cr-mt-overview-table tbody td {
    font: normal normal normal 18px/24px;
    align-items: center;
}

.cr-mt-overview-table tbody tr:nth-child(2n+1) {
    background-color: #F7F6F5;
}

.cr-mt-tiles-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 300px;
}

.cr-mt-tiles {
    display: flex;
    gap: 10px;
    margin: auto;
}

.cr-mt-tile {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    height: 295px;
    gap: 10px;
    background-color: #F7F6F5;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px 0px;
}

.cr-mt-tile-title {
    background-color: #FFFFFF;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cr-mt-tile-title span {
    display: block;
    font: normal normal bold 16px/25px Termina;
    letter-spacing: -0.34px;
    color: #A8A287;
}

.cr-mt-tile-title span:first-of-type {
    font: normal normal bold 24px/29px Termina;
    letter-spacing: -0.24px;
    color: #F47828;
}

.cr-mt-tile-price,
.cr-mt-tile-description {
    padding: 0 25px;
    font: normal normal normal 18px/24px Poppins;
    letter-spacing: 0px;
    color: #484844;
}

.cr-mt-notes {
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #484844;
    margin-left: 40px;
}


@media screen and (max-width: 600px) {
    .cr-mt-promo-block {
        height: 628px;
        background-position: center;
    }

    .cr-mt-promo-details {
        margin-top: 180px;
    }
    
    .cr-mt-promo-title {
        width: 80%;
        font: normal normal bold 28px/34px Termina;
        letter-spacing: -0.28px;
    }
    
    .cr-mt-promo-description {
        width: 100%;
        font: normal normal normal 16px/26px Poppins;
        letter-spacing: -0.16px;
        margin-top: 20px;
    }

    .cr-mt-overview-wrapper {
        display: none;
    }

    .cr-mt-tiles-wrapper {
        width: 85%;
        flex-direction: column-reverse;
    }

    .cr-mt-tiles {
        gap: 20px;
    }

    .cr-mt-tile {
        min-width: 256px;
    }
    
    .cr-mt-tile-title {
        background-color: #FFFFFF;
        padding: 15px 25px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .cr-mt-tile-title span {
        display: block;
        font: normal normal bold 16px/25px Termina;
        letter-spacing: -0.34px;
        color: #A8A287;
    }
    
    .cr-mt-tile-title span:first-of-type {
        font: normal normal bold 24px/29px Termina;
        letter-spacing: -0.24px;
        color: #F47828;
    }
    
    .cr-mt-tile-price,
    .cr-mt-tile-description {
        padding: 0 25px;
        font: normal normal normal 18px/24px Poppins;
        letter-spacing: 0px;
        color: #484844;
    }

    .cr-mt-notes {
        margin-left: 0;
    }
}