

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body, header {
  font-family: "Roboto", sans-serf;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 86%;
  margin: auto;
}
.cr-logo {
  width: 45%;
  margin-top: 53px;
}

ul {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
}

.cr-nav-items {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.nav-item {
  margin-top: 59px;
}

.nav-link {
  font-weight: var(--bold-font);
  text-align: center;
  font: normal normal bold 19px/29px Poppins;
  color: #FFFFFF !important;
  opacity: 1;
  padding: 0;
}

.cr-header-wrapper {
  height: 1083px;
  background:
  linear-gradient(119deg, #04211B -5%, #051F1A76 53%, #051E1A00 100%),
  url(../img/header-image-2.png);
  background-size: 105% 105%;
  background-position: -27px -18px;
}
