/* Fonts */

@font-face {
	font-family: 'Poppins Bold';
	src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	/* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: "termina";
	src: url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1d76ab/00000000000000007735b21c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

@font-face {
	font-family: "termina";
	src: url("https://use.typekit.net/af/574117/00000000000000007735b222/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/574117/00000000000000007735b222/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/574117/00000000000000007735b222/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 700;
	font-stretch: normal;
}

.tk-termina {
	font-family: "termina", sans-serif;
}


/* Smooth scroll effect */

html {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

html::-webkit-scrollbar {
	display: none;
}


/* Resets */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: var(--transition);
}

body,
header {
	font-family: Poppins Bold;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}


/* NAV */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	width: 100%;
	position: sticky;
	top: 0px;
	padding: 55px 0;
	transition-duration: 2000ms;
}

.cr-nav-wrapper {
	width: 100%;
	display: inline-flex;
	width: 86%;
	margin: auto;
}

.cr-logo {
	width: 45%;
	/* margin-top: 53px; */
}

img.cr-logo-image {
	content: url('../img/crover-logo.png');
    width: 221px;
    height: 54px;
	transition-duration: 2000ms;
}

ul {
	display: flex;
	flex: 1 1 0;
	justify-content: space-between;
	align-items: center;
}

.cr-nav-items {
	display: flex;
	width: 50%;
	justify-content: space-around;
	padding-top: 10px;
}

.nav-item {
	/* margin-top: 59px; */
}

ul>li>a.nav-link {
	font-weight: var(--bold-font);
	text-align: center;
	font-size: 19px;
	font-family: Poppins Bold;
	color: #FFFFFF;
	opacity: 0.7;
	padding: 0;
}
ul>li>a.nav-link:hover {
	color: #FFFFFF;
	opacity: 1;
}

.cr-header-wrapper {
	height: 1083px;
	background: linear-gradient(119deg, #04211B -5%, #051F1A76 53%, #051E1A00 100%), url(../img/header-image-2.png);
	background-size: cover;
	position: relative;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
	height: 76px;
	/* UI Properties */
	background: #F7F6F5 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	padding: 10px !important;
	transition-duration: 2000ms;
}

nav.sticky>div.cr-nav-wrapper>ul>li>a.nav-link {
	font-weight: var(--bold-font);
	text-align: center;
	font-size: 16px;
	font-family: Poppins Bold;
	padding: 0;
	color: #04211B !important;
	opacity: 0.7;
}

nav.sticky>div.cr-nav-wrapper>ul>li>a:hover {
	color: #04211B !important;
	opacity: 1;
}

#navbar.sticky>div>div.cr-logo>a>img {
	content: url('../img/crover-logo-black.svg') !important;
	width: 136px;
    height: 33px;
    margin-top: 10px;
	transition-duration: 2000ms;
}

/* Header */

