/* WELCOME Section*/

section.cr-welcome-section {
    background-color: #FAFAFA;
    margin-top: -100px;
}

.cr-text-wrapper {
    width: 100%;
    text-align: left;
    padding: 40px 0;
}

.cr-lifestyle {
    width: 50%;
    padding: 20px;
}

.cr-welcome {
    display: flex;
    position: relative;
    width: 100%;
}

.cr-welcome-content {
    width: 50%;
}

.cr-specs {
    padding: 50px 0;
    width: 100%;
    display: flex;
}

.cr-welcome-img {
    max-width: 100%;
    height: auto;
}

.cr-orange-gardient {
    font-family: 'termina';
    font-weight: BOLD;
    background: transparent linear-gradient(272deg, #F47828 0%, #A8A287 100%) 0% 0% no-repeat padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cr-orange {
    font-family: 'termina';
    font-weight: bold;
    color: #F47828;
}

svg.welcome-shapes {
    position: absolute;
    top: -150px;
    left: 71px;
}

.cr-welcome-title {
    text-indent: 0em;
    margin-top: 100px;
    margin-left: -100px;
    line-height: 1em;
    font-size: 70px;
    position: relative;
}

.cr-welcome-message {
    font-size: 24px;
    font-family: 'Poppins';
    text-align: left;
    letter-spacing: -0.24px;
    color: #484844;
    padding: 50px 0;
}

.cr-welcome-message p {
    padding: 25px 0;
}

.cr-specs-title {
    width: 33%;
}

.cr-specs-headline {
    font-size: 49px;
    font-family: 'termina';
    font-weight: bold;
    color: #A8A186;
}

.cr-specs-icon {
    background-image: url("../img/crover-icon.png");
    width: 139px;
    height: 161px;
}

.cr-specs-content {
    font-size: 24px;
    font-family: 'Poppins Regular';
    color: #484844;
    width: 66%;
}

.cr-specs-content p:last-child {
    font-family: 'Poppins SemiBold';
}

@media screen and (max-width: 600px) {
    .cr-lifestyle {
        width: 100%;
    }
    .cr-welcome {
        display: block;
    }
    .cr-text-wrapper {
        padding: 10px 0;
    }
    .cr-text {
        font-size: 18px !important;
    }
    .cr-welcome-img {}
    .cr-welcome-content {
        width: 100%;
    }
    .cr-orange-gardient {}
    .cr-orange {}
    .cr-welcome-title {
        font-size: 28px;
        margin-left: 0;
        margin-top: 0;
        margin-top: 50px;
    }
    .cr-welcome-message {
        font-size: 16px;
        padding: 10px 0;
    }
    .cr-welcome-message p {
        padding: 10px 0;
    }
    .cr-specs {
        width: 100%;
        display: block;
    }
    .cr-specs-title {
        width: 100%;
        display: flex;
        padding: 20px 0;
    }
    svg.welcome-shapes {
        display: none;
    }
    .cr-specs-headline {
        font-size: 28px;
        min-width: 70%;
    }
    .cr-specs-icon {
        width: 56px;
        height: 64px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: -15px px;
    }
    .cr-specs-content {
        font-size: 16px;
        width: 100%;
    }
}


/* ----------- Laptop Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .cr-wave-svg-bottom {
        height: 100px !important;
    }
    .cr-welcome-title {
        margin-top: 100px;
        margin-left: -50px;
        font-size: 45px;
    }
    .cr-welcome-message,
    .cr-specs-content {
        font-size: 18px;
        padding: 20px 0;
    }
    .cr-welcome-message p {
        padding: 10px 0;
    }
    .cr-text {
        font-size: 25px !important;
    }
    .cr-specs-headline {
        font-size: 35px;
    }
    .cr-specs-icon {
        width: 128px;
        height: 154px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


/* -----------Laptop Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}